<div class="row page-header">
  <h2>Account</h2>
  <p>Your raw user data.</p>
</div>
<div class="row" id="apps">
  <pre>
    <code class="language-javascript">{{userData}}</code>
  </pre>
</div>

<script src='//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js'></script>
