  <div class="row page-header">
    <h2>Your Applications</h2>
    <p>This shows external, 3rd-party apps you have authorized.</p>
  </div>
  <div class="row" id="apps">
  </div>

<script src="/js/dashboard.js"></script>
<script>
  var apps = {{{apps}}};
  Dashboard.load(apps);
</script>
